http-request-response-with-logger/src/main/app/echo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule version="EE-3.5.2" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow doc:name="EchoFlow" name="EchoFlow">
        <http:inbound-endpoint doc:description="Process HTTP requests or responses." doc:name="Recieve HTTP request" exchange-pattern="request-response" host="localhost" port="8084"/>
        <logger doc:name="Log the echo string" level="INFO" message="About to echo #[message.payload]"/>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>