content-based-routing/src/main/mule/content-based-routing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <expression-filter expression="#[payload != '/favicon.ico']" name="Expression" doc:name="Expression"/>
    <httpn:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <httpn:listener-connection host="0.0.0.0" port="8081"/>
    </httpn:listener-config>
    <flow name="content-based-routingFlow">
        <httpn:listener config-ref="HTTP_Listener_config" path="/" doc:name="HTTP"/>
		<set-variable variableName="language" value="#[attributes.queryParams.language]" doc:name="Variable" />
		<choice doc:name="Choice">
            <when expression="#[variables.language == 'Spanish']">
                <set-payload value="Hola!" doc:name="Reply in Spanish"/>
            </when>
            <when expression="#[variables.language == 'French']">
                <set-payload value="Bonjour!" doc:name="Reply in French"/>
            </when>
            <otherwise>
				<flow-ref name="replyInDefaultLanguage" doc:name="replyInDefaultLanguage" />
            
</otherwise>
        </choice>
        <logger message='#["$(payload) means hello in $(language)"]' level="INFO" doc:name="Log the reply"/>
    </flow>
     <sub-flow name="replyInDefaultLanguage">
        <logger message="No language specified. Using English as a default. " level="INFO" doc:name="Logger"/>
        <set-variable variableName="language" value="English" doc:name="Set Language to English"/>
        <set-payload value="Hello!" doc:name="Reply in English"/>
    </sub-flow>
</mule>
