importing-an-email-attachment-using-the-IMAP-connector/src/main/app/imap-to-xml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" version="EE-3.7.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

  
	<imaps:connector checkFrequency="100" doc:name="IMAP" name="imapsConnector" validateConnections="true">        
    </imaps:connector>
    

    <flow name="imap-to-csvFlow1">
        <imaps:inbound-endpoint connector-ref="imapsConnector" doc:name="Poll emails" host="${imap.host}" password="${imap.password}" port="993" responseTimeout="10000" user="${imap.user}"/>
        <expression-transformer doc:name="Put Attachments to Payload">
			<return-argument evaluator="attachments-list" expression="*"/>
		</expression-transformer>

        <set-payload doc:name="Set Payload to Attachment content" value="#[payload[0].getContent()]"/>
        <dw:transform-message doc:name="Map CSV to XML">
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/csv header=true
%output application/xml
---
orders: payload map {
	order:  {
		orderId : $.orderId,
		name : $.name,
		units : $.units,
		pricePerUnit : $.pricePerUnit
		}	
	}
]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Convert Byte Array to String"/>
        <logger doc:name="Log the converted XML" level="INFO" message="recieved: #[payload]"/>
        <file:outbound-endpoint doc:name="File" path="src/test/resources/output" responseTimeout="10000"/>
    </flow>
</mule>