addition-using-javascript-transformer/src/main/mule/javascript-calculator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<httpn:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <httpn:listener-connection host="0.0.0.0" port="8081"/>
    </httpn:listener-config>
	<flow name="javascript-calculatorFlow" >
		<httpn:listener config-ref="HTTP_Listener_config" path="/" allowedMethods="POST" doc:name="HTTP "/>
		<byte-array-to-string-transformer doc:name="Byte Array to String" />
		<scripting:transformer doc:name="Perform calculation">
            <scripting:script engine="JavaScript"><![CDATA[var list = eval("(" + payload + ")");
var sum = 0;
for (var i in list)
 sum += list[i];
payload = sum;]]></scripting:script>
        </scripting:transformer>
		<object-to-string-transformer doc:name="Object to String" />
		<logger message='#["Sum is $(payload)"]' level="INFO" doc:name="Log the outcome" />
		<set-payload doc:name="Set payload to the calculation outcome" value='#["Sum is $(payload)"]'/>
	</flow>
</mule>
