jms-message-rollback-and-redelivery/src/main/app/jms-redelivery.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" version="EE-3.5.2" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:ss="http://www.springframework.org/schema/security" xmlns:xm="http://www.mulesoft.org/schema/mule/xml"
	xmlns:test="http://www.mulesoft.org/schema/mule/test"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<spring:beans>
		<!-- ActiveMQ -->
		<spring:bean class="org.apache.activemq.RedeliveryPolicy" id="redeliveryPolicy">
			<spring:property name="maximumRedeliveries" value="5" />
			<spring:property name="initialRedeliveryDelay" value="5000" />
			<spring:property name="redeliveryDelay" value="2000" />
			<spring:property name="useExponentialBackOff" value="false" />
			<spring:property name="backOffMultiplier" value="2" />
		</spring:bean>
		<spring:bean class="org.apache.activemq.ActiveMQConnectionFactory" id="amqFactory" lazy-init="true">
			<spring:property name="brokerURL" value="failover:(tcp://localhost:61616)" />
			<spring:property name="redeliveryPolicy" ref="redeliveryPolicy" />
		</spring:bean>
	</spring:beans>

	<jms:activemq-connector connectionFactory-ref="amqFactory" doc:name="Active MQ" name="jmsConnector" maxRedelivery="5" persistentDelivery="true" specification="1.1" validateConnections="true" />

	<flow doc:name="JMSRedeliver" name="JMSRedeliver">
		<jms:inbound-endpoint connector-ref="jmsConnector" doc:name="Listen to JMS queue" queue="in">
			<jms:transaction action="ALWAYS_BEGIN" />
		</jms:inbound-endpoint>

        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['JMSXDeliveryCount']==5]">
                <logger level="INFO" doc:name="No exception thrown" message="Transaction without errors"/>
            </when>
            <otherwise>
                <test:component throwException="true" exceptionToThrow="org.exceptions.MyException" doc:name="Throws custom exception" />
            </otherwise>
        </choice>

		<jms:outbound-endpoint connector-ref="jmsConnector" topic="topic1" doc:name="Send to JMS topic">
			<jms:transaction action="ALWAYS_JOIN" />
		</jms:outbound-endpoint>
        
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[!exception.causedBy(org.exceptions.MyException)]" doc:name="Catch Exception Strategy">
        		<logger level="INFO" doc:name="Commit transaction" message="Entered catch exception strategy. The transaction is commited."/>
            </catch-exception-strategy>
            
            <rollback-exception-strategy when="#[exception.causedBy(org.exceptions.MyException)]" doc:name="Rollback Exception Strategy">
                <logger level="INFO" doc:name="Rollback transaction" message="Entered rollback exception strategy. The message rolls back to its original state for reprocessing."/>
            </rollback-exception-strategy>
        </choice-exception-strategy>
	</flow>
</mule>