datamapper-with-flowreflookup/src/main/app/datamapper-with-flowref.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule version="EE-3.6.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/5.0/mule-sfdc.xsd http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <sfdc:config doc:name="Salesforce" name="Salesforce" password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.user}">
        <sfdc:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE"/>
    </sfdc:config>
    <data-mapper:config doc:name="DataMapper" name="datamapper_grf" transformationGraphPath="datamapper.grf"/>
    <flow doc:description="From the content of a CSV file, creates new accounts in Salesforce." doc:name="CreateNewSalesforceAccountFlow" name="CreateNewSalesforceAccountFlow">
        <file:inbound-endpoint doc:name="Poll for files" moveToDirectory="src/main/resources/output" path="src/main/resources/input" pollingFrequency="10000" responseTimeout="10000"/>
        <data-mapper:transform config-ref="datamapper_grf" doc:name="CSV to Salesforce account object"/>
        <sfdc:create config-ref="Salesforce" doc:name="Create Salesforce Account" type="Account">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:create>
    </flow>
    <flow doc:description="The script uses data in the state field to add a region to the payload according to location." doc:name="LookUpSalesRegionFlow" name="LookUpSalesRegionFlow">
        <scripting:component doc:name="Get Region by State">
            <scripting:script engine="Groovy"><![CDATA[def region = "UNKNOWN"
def state = payload.state
if (state != null) {
	state = state.toUpperCase()
}
println "State to lookup is: " + state
switch (state) {
	case ["CT","ME","MA","NH","VT","RI","NY","NJ","DE","DC","MD","NH"]:
      region = "North East"
      break
      case ["AL","AR","FL", "GA","LA" ,"SC","NC","TN","TX"]:
      region = "South East"
      break
      case ["ID","IL", "IA","KS","MT", "WY","ND","SD","OH" ]:
      region = "Mid West"
      break
      case ["AZ","CO","OK","NM", "NV"]:
      region = "South West"
      break
      case ["CA","HI","WA","OR", "AK"]:
      region = "West Coast"
      break
}
return ["region":region]]]></scripting:script>
        </scripting:component>
        <logger doc:name="Log the Region" level="INFO" message="Region is : #[payload.region]"/>
    </flow>
</mule>