salesforce-id-retrieval/src/main/app/salesforce-id-retrieval.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule version="EE-3.6.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <sfdc:config doc:name="Salesforce" name="Salesforce" password="${sfdc.password}" securityToken="${sfdc.securityToken}" url="https://login.salesforce.com/services/Soap/u/28.0" username="${sfdc.username}"/>
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="8081"/>
    <flow name="salesforceIdRetrievalFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP" path="/"/>
        <sfdc:query-all config-ref="Salesforce" doc:name="Salesforce" query="SELECT name, #[message.inboundProperties['http.query.params'].field == null ? &quot;Id&quot; : message.inboundProperties['http.query.params'].field] from #[message.inboundProperties['http.query.params'].object] where #[message.inboundProperties['http.query.params'].searchKey] like '%#[message.inboundProperties['http.query.params'].searchValue]%'"/>
        <expression-component doc:name="Expression"><![CDATA[list = new ArrayList();

while (payload.hasNext()){
	list.add(payload.next());
}

payload = list;]]></expression-component>
        <logger doc:name="Logger" level="INFO" message="list of objects: #[payload]"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
    </flow>
</mule>