sending-json-data-to-a-jms-queue/src/main/mule/sending-json-data-to-a-jms-queue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jmsn="http://www.mulesoft.org/schema/mule/jmsn" xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
http://www.mulesoft.org/schema/mule/jmsn http://www.mulesoft.org/schema/mule/jmsn/current/mule-jmsn.xsd">
	<httpn:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" >
		<httpn:listener-connection host="0.0.0.0" port="8081"/>
	</httpn:listener-config>
	<jmsn:config name="JMS_Config" doc:name="JMS Config" >
		<jmsn:active-mq-connection specification="JMS_1_0_2b" />
	</jmsn:config>
	<flow name="sending-json-data-to-a-jms-queueFlow" >
		<httpn:listener config-ref="HTTP_Listener_config" path="sales" doc:name="Listener" allowedMethods="POST"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String" />
		<jmsn:consume config-ref="JMS_Config" destination="sales" doc:name="Consume" />
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
	</flow>
</mule>
