querying-a-mysql-database/src/main/app/querying-a-mysql-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">
    <db:config name="Database_Config" doc:name="Database Config">
        <db:my-sql-connection url="jdbc:mysql://localhost:3306/company?user=generatedata&amp;password=generatedata"/>
    </db:config>
    <httpn:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <httpn:listener-connection host="0.0.0.0" port="8081"/>
    </httpn:listener-config>
    <flow name="querying-a-mysql-databaseFlow">
        <httpn:listener config-ref="HTTP_Listener_config" path="/" doc:name="Recieve HTTP request"/>
        <db:select config-ref="Database_Config" doc:name="Perform a query in MySQL">
            <db:sql>select first_name from employees where last_name = '#[message.attributes.queryParams.get('lastname')]'</db:sql>
        </db:select>
        <json:object-to-json-transformer doc:name="Convert Object to JSON"/>
    </flow>
</mule>
