adding-a-new-customer-to-workday-revenue-management/src/main/app/add_a_new_customer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" version="EE-3.7.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:wd-revenue="http://www.mulesoft.org/schema/mule/wd-revenue" xmlns:weave="http://www.mulesoft.org/schema/mule/ee/weave" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wd-revenue http://www.mulesoft.org/schema/mule/wd-revenue/current/mule-wd-revenue.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/weave http://www.mulesoft.org/schema/mule/ee/weave/current/weave.xsd">
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="9090"/>
    
    <wd-revenue:config doc:name="Workday Revenue Management" name="Workday_Revenue_Management" revenueEndpoint="${wday.endpoint}" revenuePassword="${wday.password}" revenueUser="${wday.user}">
        <wd-revenue:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE"/>
    </wd-revenue:config>    
    
    <flow name="add-customer-flow">
        <http:listener allowedMethods="POST" config-ref="HTTP_Listener_Configuration" doc:name="Recieve HTTP requests" path="/"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String" mimeType="text/xml"/>
        <weave:transform-message doc:name="XML to Workday PutCustomerRequestType">
            <weave:set-payload><![CDATA[%weave 0.1
%output application/java
---
{
	customerData: {
		customerCategoryReference: {
			ID: [ {
				type: payload.root.Account.Customer_Category_Reference_Type,
				value: payload.root.Account.Customer_Category_Reference_Value
			} as :object {class: "com.workday.revenue.CustomerCategoryObjectIDType"}
			]
		},
		customerStatusData: [ {
			customerStatusValueReference: {
				ID:[ {
					type: payload.root.Account.Customer_Status_Reference_Type,
					value: payload.root.Account.Customer_Status_Reference_Value
				} as :object {class: "com.workday.revenue.BusinessEntityStatusValueObjectIDType"}
				]
			}
		} as :object {class: "com.workday.revenue.CustomerStatusDataType"}
		],
		businessEntityData: {
			businessEntityName: payload.root.Account.BusinessEntityName
		},
		customerName: payload.root.Account.CustomerName,
		customerID: payload.root.Account.CustomerName
	}		
} as :object { class: "com.workday.revenue.PutCustomerRequestType" }]]></weave:set-payload>
        </weave:transform-message>
        <wd-revenue:put-customer config-ref="Workday_Revenue_Management" doc:name="Workday Revenue Management"/>
        <set-payload doc:name="Set Response" value="Added customer: #[payload.customerReference.descriptor]"/>
    </flow>
</mule>