extracting-data-from-LDAP-directory/src/main/app/ldap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:context="http://www.springframework.org/schema/context" xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <ldap:config name="LDAP" authDn="${ldap.dn}" authPassword="${ldap.password}" url="ldap://localhost:${ldap.port}/dc=my-domain,dc=com" doc:name="LDAP">
        <ldap:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </ldap:config>
    <flow name="ldapFlow1" doc:name="ldapFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="Recieve HTTP request"/>
        <ldap:search config-ref="LDAP" baseDn="ou=people" filter="(objectClass=*)" doc:name="Search for users in LDAP"/>
        <byte-array-to-object-transformer doc:name="Convert Byte Array to Object"/>
        <collection-splitter doc:name="Split the list of users"/>
        <logger message="LDAP user: #[payload]" level="INFO" doc:name="Log each LDAP user"/>
        <collection-aggregator failOnTimeout="true" doc:name="Aggregate the users into the list"/>
        <logger message="all users: #[payload]" level="INFO" doc:name="Logg all users"/>
        <object-to-string-transformer doc:name="Convert Object to String"/>
    </flow>
</mule>
