importing-an-email-attachment-using-the-POP3-connector/src/main/app/pop-to-xml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule version="EE-3.7.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3" xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/current/mule-pop3s.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <pop3s:connector checkFrequency="100" doc:name="POP3" name="POP3" validateConnections="true"/>

    <flow name="pop-to-xmlFlow1">
        <pop3s:inbound-endpoint connector-ref="POP3" doc:name="Poll emails" host="${pop3.host}" password="${pop3.password}" port="995" responseTimeout="10000" user="${pop3.user}"/>
        <expression-transformer doc:name="Put Attachments to Payload">
			<return-argument evaluator="attachments-list" expression="*"/>
		</expression-transformer>
		<set-payload doc:name="Set Payload to content" value="#[payload[0].getContent()]"/>
        <dw:transform-message doc:name="Map CSV to XML">
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/csv header=true
%output application/xml
---
orders: {
	order:  {
		orderId : orderId,
		name : name,
		units : units,
		pricePerUnit : pricePerUnit
		}	
	}]]></dw:set-payload>
        </dw:transform-message>        
        <byte-array-to-string-transformer doc:name="Convert Byte Array to String"/>
        <logger doc:name="Log the converted XML" level="INFO" message="recieved: #[payload]"/>
        <file:outbound-endpoint doc:name="File" path="src/test/resources/output" responseTimeout="10000"/>
    </flow>
</mule>