login-form-using-the-http-connector/src/main/mule/login-form-using-the-http-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	  <httpn:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <httpn:listener-connection host="0.0.0.0" port="8081"/>
    </httpn:listener-config>
    <httpn:request-config name="HTTP_Request_config" doc:name="HTTP Request config">
        <httpn:request-connection host="0.0.0.0" port="8081"/>
    </httpn:request-config>
    <flow name="GetLoginPageFlow">
        <httpn:listener config-ref="HTTP_Listener_config" path="/login" doc:name="Login Page" allowedMethods="GET"/>
        <parse-template location="login\index.html" doc:name="Login Page Content"/>
    </flow>
    <flow name="DoLoginFlow">
		<httpn:listener config-ref="HTTP_Listener_config" path="/login" doc:name="Do Login" allowedMethods="POST" parseRequest="true">
			<httpn:response statusCode="201" >
				<httpn:headers >#[ { 'Content-Type' : 'text/html' } ]</httpn:headers>
			</httpn:response>

        </httpn:listener>
        <logger message='#["User $(payload.username) is trying to login"]' level="INFO" doc:name="Log username" />
        <choice doc:name="Choice" >
			<when expression="#[payload.username == 'mule' and payload.password == 'mule']">
				<parse-template location="login\loginSuccessful.html" doc:name="Parse Template" />
			</when>
			<otherwise >
				<parse-template location="login\loginFailure.html" doc:name="Parse Template" />
			</otherwise>
		</choice>
    </flow>
    <flow name="CallLoginFlowUsingRequester">
        <httpn:listener config-ref="HTTP_Listener_config" path="/requesterLogin" doc:name="Login using HTTP request component"/>
        <set-payload doc:name="Create map with form data" value="#[{'username': 'mule', 'password': 'mule'}]"/>
        <httpn:request config-ref="HTTP_Request_config" path="/login" doc:name="DoLogin" followRedirects="true" parseResponse="true" method="POST"/>
    </flow>
</mule>
