sap-data-retrieval/src/main/app/sap-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd" >
    <http:listener-config name="sap-api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
        <sap:connector
    	name="SapConnector" 
    	jcoAsHost="${sap.jco.ashost}" 
    	jcoUser="${sap.jco.user}" 
    	jcoPasswd="${sap.jco.passwd}" 
    	jcoSysnr="${sap.jco.sysnr}" 
    	jcoClient="${sap.jco.client}" 
    	jcoLang="${sap.jco.lang}"
    	doc:name="SAP" validateConnections="true"/>
    	
    	<apikit:config name="sap-api-config" raml="sap-api.raml" consoleEnabled="true" consolePath="console" doc:name="Router">
        <apikit:flow-mapping resource="/customers" action="get" flow-ref="get:/customers:sap-api-config"/>
        <apikit:flow-mapping resource="/salesOrder" action="get" flow-ref="get:/salesOrders:sap-api-config"/>
        <apikit:flow-mapping resource="/materials" action="get" flow-ref="get:/materials:sap-api-config"/>
    </apikit:config>
    
    <apikit:mapping-exception-strategy name="sap-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="sap-api-main">
        <http:listener config-ref="sap-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="sap-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="sap-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="get:/customers:sap-api-config">
        <dw:transform-message doc:name="Transform Map to Xml&lt;BAPI_CUSTOMER_FIND&gt;" metadata:id="711a1bba-68b9-4a72-9f5b-dc077ea13256">
            <dw:input-inbound-property doc:sample="inboundProperties.dwl" propertyName="http.query.params"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	"BAPI_CUSTOMER_FIND": {
		import: {
			"MAX_CNT": inboundProperties."http.query.params"."max_count",
			"PL_HOLD": "X"
		},
		tables: {
			"SELOPT_TAB": {
				row: {
					"COMP_CODE": "0001",
					TABNAME: "KNA1",
					FIELDNAME: "NAME1",
					FIELDVALUE: (inboundProperties."http.query.params"."name" ++ "*") when (inboundProperties."http.query.params"."name" != null) otherwise "*"
				}
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <sap:outbound-endpoint xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Get Customers" connector-ref="SapConnector" functionName="BAPI_CUSTOMER_FIND" type="function" exchange-pattern="request-response"/>

        <dw:transform-message doc:name="Transform Xml&lt;BAPI_CUSTOMER_FIND&gt; To JSON">
            <dw:input-payload doc:sample="BAPI_CUSTOMER_FIND.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
customers: 
	payload."BAPI_CUSTOMER_FIND".tables."RESULT_TAB".*row map {
		(($$):$)
	}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="get:/salesOrders:sap-api-config">

        <dw:transform-message doc:name="Transform Map to Xml&lt;BAPI_SALESORDER_GETLIST&gt;" metadata:id="93dc703b-4b7d-4a41-8e17-72ff01e002e4">
            <dw:input-inbound-property doc:sample="inboundPropertiesSO.dwl" propertyName="http.query.params"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	"BAPI_SALESORDER_GETLIST": {
		import: {
			"CUSTOMER_NUMBER": inboundProperties."http.query.params"."customer_number",
			"SALES_ORGANIZATION": inboundProperties."http.query.params"."sales_organization"
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>

        <sap:outbound-endpoint xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Get Sales orders" connector-ref="SapConnector" functionName="BAPI_SALESORDER_GETLIST" type="function" exchange-pattern="request-response"/>


        <dw:transform-message doc:name="Transform Xml&lt;BAPI_SALESORDER_GETLIST&gt; To JSON">
            <dw:input-payload doc:sample="BAPI_SALESORDER_GETLIST.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
salesOrders: payload."BAPI_SALESORDER_GETLIST".tables."SALES_ORDERS".*row map {
	(($$):$)
} when (payload."BAPI_SALESORDER_GETLIST".tables."SALES_ORDERS" != "") otherwise {message:"No data found."}]]></dw:set-payload>
        </dw:transform-message>

    </flow>
    <flow name="get:/materials:sap-api-config">

        <dw:transform-message doc:name="Transform Map to Xml&lt;BAPI_MATERIAL_GETLIST&gt;" metadata:id="5e52e521-e438-4120-8e41-3d659961bbd8">
            <dw:input-inbound-property doc:sample="inboundProperties_1.dwl" propertyName="http.query.params"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	"BAPI_MATERIAL_GETLIST": {
		import: {
			MAXROWS: inboundProperties."http.query.params"."max_count"
		},
		tables: {
			MATERIALSHORTDESCSEL: {
				row: {
					SIGN: "I",
					OPTION: "CP",
					"DESCR_LOW": (inboundProperties."http.query.params"."name" ++ "*") when (inboundProperties."http.query.params"."name" != null) otherwise "*"
				}
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SapConnector" type="function" functionName="BAPI_MATERIAL_GETLIST" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Get Materials"/>

        <dw:transform-message doc:name="Transform XML&lt;BAPI_MATERIAL_GETLIST&gt; to JSON">
            <dw:input-payload doc:sample="BAPI_MATERIAL_GETLIST.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
materials: payload."BAPI_MATERIAL_GETLIST".tables.MATNRLIST.*row map {
	(($$):$)
} when (payload."BAPI_MATERIAL_GETLIST".tables.MATNRLIST != "") otherwise { message:"No data found."}]]></dw:set-payload>
        </dw:transform-message>


    </flow>
</mule>
