import-contacts-into-ms-dynamics/src/main/app/import-contacts-into-ms-dynamics.xml
<?xml version="1.0"?>
<mule version="EE-3.6.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dynamicscrm="http://www.mulesoft.org/schema/mule/dynamicscrm" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
 http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
 http://www.mulesoft.org/schema/mule/dynamicscrm http://www.mulesoft.org/schema/mule/dynamicscrm/current/mule-dynamicscrm.xsd 
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd  
 http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd  
 http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd 
 http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <dynamicscrm:config authenticationType="${crm.auth-type}" doc:name="Microsoft Dynamics CRM: Legacy Connection" name="MS_Dynamics_CRM" organizationServiceUrl="${crm.service-url}" password="${crm.password}" username="${crm.username}"/>   	  
    <data-mapper:config doc:name="CSV_To_Map" name="CSV_To_Map" transformationGraphPath="csv_to_map.grf"/>    
    
	<flow name="crm-create-account">
        <file:inbound-endpoint doc:name="Poll files" moveToDirectory="src/main/resources/output" path="src/main/resources/input" responseTimeout="10000"/>
        <data-mapper:transform config-ref="CSV_To_Map" doc:name="CSV To Map"/>
        <foreach doc:name="For Each">
            <dynamicscrm:create config-ref="MS_Dynamics_CRM" doc:name="Microsoft Dynamics CRM" logicalName="contact">                
            	<dynamicscrm:attributes>
	                <dynamicscrm:attribute key="firstname">#[payload['firstname']]</dynamicscrm:attribute>
	                <dynamicscrm:attribute key="lastname">#[payload['lastname']]</dynamicscrm:attribute>
	                <dynamicscrm:attribute key="emailaddress1">#[payload['email']]</dynamicscrm:attribute>
	                <dynamicscrm:attribute key="telephone1">#[payload['businessphone']]</dynamicscrm:attribute>
            	</dynamicscrm:attributes>
            </dynamicscrm:create>
            <logger doc:name="Logger" level="INFO" message="result: #[payload]"/>
        </foreach>
	</flow>
	               
</mule>