upload-to-ftp-after-converting-json-to-xml/src/main/app/upload-to-ftp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" version="EE-3.7.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <ftp:connector doc:name="FTP" name="FTP"></ftp:connector>
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="8081"></http:listener-config>
    <flow name="main"> 
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="Receive HTTP Requests" path="/"></http:listener>  
        <dw:transform-message doc:name="JSON to XML"> 
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/json
%output application/xml
---
employees: payload.employees.employee map {
  employee:  {
    name: $.name,
    lastName: $.lastName,
    addresses: $.addresses map {
      address: $
    }
  }
}]]></dw:set-payload>  
        </dw:transform-message>  
        <ftp:outbound-endpoint connector-ref="FTP" doc:name="Upload to FTP" host="ftp-server.demo.solarwinds.com" outputPattern="muleExample.xml" password="demo" path="/Upload/" port="21" responseTimeout="10000" user="demo"></ftp:outbound-endpoint>  
    </flow>
</mule>